Unidad 1: XML/Tarea2/Ejercicio5/discografica_ext.dtd

<!ELEMENT discografica (disco)+>
<!ELEMENT disco (titulo, interprete+, pista+)>
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT interprete (nombre, apellidos)>
        <!ATTLIST interprete rol CDATA #IMPLIED>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT apellidos (#PCDATA)>
    <!ELEMENT pista (nombre, duracion)>
        <!ATTLIST pista numero CDATA #REQUIRED>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT duracion (#PCDATA)>